h1 {
    color: rgba(47, 47, 192, 0.868);
  }

li {
    color: green;
}

li {
    list-style-type: none;
}

.special {
    color: orange;
    font-weight: bold;
}

a:link {
    color: pink;
}
  
a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

.outer {
    border: 5px solid black;
}
  
.box {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}